{% extends 'main/layout.html' %}

{% block title %}Мобильный инспектор{% endblock %}

{% block content %}
<div class="features">
    <p>Обеспечивает оперативную работу инспекторов на выездых проверках и руководителей подразделений технического блока</p>
    <input type="checkbox" id="raz" name="raz" class="del"/><label for="raz" class="del">ИНСТРУКЦИЯ ПО ЗАПОЛНЕНИЮ</label>
    <div>
        <br><a href="one"><a1>1. Внесите все необходимые данные,</a1> заполнив формы на вкладках "День охраны труда" и "Проверка в рамках СВТК"</a>
        <br><a href="two"><a1>2. Загрузите данные в систему ПК,</a1> нажав кнопку "Выгрузка в базу данных", находящуюся на главной странице</a>
        <br><a href="three"><a1>3. Сформируйте и получите акт с выявленными нарушениями и предписываемыми мероприятиями,</a1> нажав кнопку "Формирование акта предписания", находящуюся на главной странице</a>
        <br><a href="four"><a1>4. Ознакомьтесь с аналитической отчетностью,</a1> перейдя на вкладку "Статистика"</a>
    </div>
</div>
<mainside>
</mainside>
{% endblock %}